body, header{
	font-weight: "Poppins" !important;
	

}

 .main-saldur{
	padding: 20rem;
	background-color: #dbc15f !important;
	margin-top: 1rem;
	margin-left: 12.50rem;
	margin-right: 12.50rem;
	padding-bottom: 15rem;
	text-align: center;
	
	
 }

 @media only screen and (max-width: 600px){
	.main-saldur{
		background-color: #dbc15f!important;
		text-align: center;
		margin-top: 1rem;
		margin-left: 2rem;
		padding: 17rem;
		text-align: center;
	 }


	 .main-saldur div{

		margin-left: -10rem;
	   
	}

	.txupbutton{
		height: 50%;;
		color: #4e658b; 
		font-size: 0.75rem;
		text-align: justify;
	
	 }

	 .descubrenos{
		border-style: none;
		font-size: 2rem;
		color:white;
		background-color: #4e658b;
		border-radius: 10px;
	
	
	 }
	

 }

 .main-saldur div{
	 margin-top: -6rem;
	 
	
	 
 }



 .descubrenos{
	border-style: none;
	font-size: 2rem;
	color:white;
	background-color: #4e658b;
	border-radius: 10px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;


 }

 .descubrenos:hover{
	 background-color: #4e658f;
 }

 .txupbutton{
	font-weight: bold;
	width: 200%;;
	color: #4e658b; 
	font-size: 3rem;
	margin-left: -15rem;

 }



 