
.nbar {
	font-size: 2rem !important;
}

.espaciado{
	padding-right: 0.25rem;
}

.nencoger{
	font-size: 0.70rem !important;
	margin-top: 0.25rem;
	

}
.nencoger1{
	padding-right: 7rem;

}

.mespaciado{
	margin-top: 0.3rem;

}
 .iespaciado{
	 display: inline-flexbox !important;
	 font-size: 1rem;
	 margin-bottom: 0.25rem !important;
	 
 }

 .main-saldur{
	 padding: 20rem;
	 background-color: lightblue !important;
	 margin: 5%;
 }



.social ul {
	list-style: none;
}

li.lifloat a {
	position: absolute;
	top: 30%;
	color: #fff;
	text-decoration: none;
	padding-left: 20px;
	width: 100px;
}

.social ul li i {
	position: relative;
	background: #fff;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 100%;
	width: 10px;
	top: 5px;
	left: 100px;
}

.social ul li {
	position: relative;
	background: #000;
	width: 150px;
	height: 50px;
	margin: 5px 0px;
	border-radius: 0px 200px 200px 0px;
}

li.lifloat {
  transform: translateX(-95px);
}

li.lifloat:hover{
  transform: translateX(0px);
  transition: 0.5s;
}

ul.ulfloat li.lifloat:nth-child(1):hover{
  background-color:#47b6f5;
  
}
ul.ulfloat li.lifloat:nth-child(2):hover{
  background-color: #fc210b;
}

ul.ulfloat li.lifloat:nth-child(3):hover{
  background-color:#ff8c4f;
}

ul.ulfloat li.lifloat:nth-child(4):hover{
  background-color:#4c0de0;
}