<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Página intermedia</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>Página intermedia de JWT</h1>

    <p>
        JWT es un estándar abierto basado en JSON para la creación de tokens de acceso que permiten la propagación de identidad y privilegios.
    </p>
    <a href="/final">Ir al final</a>
</body>

</html>