<!DOCTYPE html>
<html>

<head>
        <%= titulo %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= titulo %>
    </h1>

    <form >
        <label for="cars">Productos:</label>
           
            <select name="latitud" id="latitude">
                <% for (var i = 0; i < ubicaciones.length; i++) { %>
                    <option value="<%=ubicaciones[i].latitude%>"><%= ubicaciones[i].name.first %></option>
                <% } %>    
            </select>
            <br><br>
        <input type="submit" value="Escoger">
    </form>


</body>

</html>