<!DOCTYPE html>
<html>

<head>
    <title>
        <%= titulo %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= titulo %>
    </h1>

    <form >
        <label for="cars">Productos:</label>
           
            <select name="productos">
                <% for (var i = 0; i < productos.length; i++) { %>
                    <option value="<%=productos[i].Nombre%>"><%= productos[i].Nombre %></option>
                <% } %>    
            </select>
            <br><br>
        <input type="submit" value="Escoger">
    </form>


</body>

</html>