.titulo-reporte {
  margin: 30px 0px 0px 36px;
}

.reporte-contenedor {
  height: 470px;
  margin-top: 30px;
  background-color: lightgray;
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px ;
  overflow: hidden;
  overflow: auto;
}

.proveedor-contenedor {
  height: 300px;
  margin-bottom: 30px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.sin-info { text-align: center; }

.reporte-contenedor::-webkit-scrollbar { width: 5px; height: 40px; }

.reporte-contenedor::-webkit-scrollbar-thumb { background-color: #757777; border-radius: 10px; }

.filtro {
  padding-top: 10px;
}

.fecha {
  display: flex;
}

.fecha label {
  margin-right: 3%;
  font-size: 20px;
}

.tabla-resultados {
  margin-top: 30px;
}
