<section data-intro="Aquí podemos encontrar una breve descripción de lo que somos" class="Somos">
  <div class="Somos-descripcion">
    <p id="presentacion">Quienes Somos</p>
    <img id="log1" src="../../../assets/img/ripp.png" alt="logo" width="125" height="125">
    <div id="mision">
      <h3>Misión</h3>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    </div>
    <div id="vision">
      <h3>Visión</h3>
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit."
    </div>
    <img id="log2" src="../../../assets/img/etherum.png" alt="logo2" width="125" height="125">
  </div>
</section>
