<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h6 class="title">
          <a [routerLink]="['/Dashboard']">
            Administrador
          </a>
        </h6>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <!-- <a></a> -->
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <!-- <a></a> -->
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="btn-wrapper profile">
          <!-- <a></a> -->
        </div>
      </div>
    </div>
    <br>
  </div>
</footer>
